* {
  font-family: Helvetica, sans-serif;
  font-size: large;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: dimgrey;
  color: white;
}

main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.post, menu {
  width: 30em;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.post {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 1em;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  color: grey;
  font-weight: 500;
  font-size: 80%;
}

.post :is(p,span) {
  font-size: 150%;
}

input {
  accent-color: black;
}

input[type="number"] {
  width: 2em;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background: var(--blue);
  color: white;
}

input[type="checkbox"]:checked + label:hover {
  background: var(--dark-blue);
}

button:disabled {
  visibility:hidden;
}

label, button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: inherit;
  user-select: none;
  border: 1px solid var(--grey);
  background: none;
  color: var(--grey);
}

:is(label, button):not([disabled]):hover {
  cursor: pointer;
  background: var(--grey);
  color: white;
}

.modifiers {
  display: none;
}

.post-annotators {
  border-top: 1px solid grey;
  color: grey;
  padding-top: 0.5em;
  display: flex;
  font-size: 100%;
  justify-content: center;
  align-items: center;
}

.warning {
  color: red;
  font: 50%;
}

.warning :is(ul, li) {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}

.warning li ~ li::before{
  content: " and ";
}

.warning label {
  display: block;
  text-align: center;
  margin-top: calc(0.5*var(--between-posts));
}
