:root {
  --blue: #4267B2;
  --light-blue: #e6eaf2;
  --dark-blue: #193b80;
  --grey: #898F9C;
  --between-posts: 2rem;
}

* {
  font-family: Helvetica, sans-serif;
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--blue);
  color: white;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
  z-index: 1;
}

header a {
  display: block;
}

input[type="submit"], header a {
  background: var(--blue);
  color: white;
  font-size: inherit;
  padding: 0.5em;
}

:is(input[type="submit"], header a):hover {
  cursor: pointer;
  background: var(--dark-blue);
}

header .router-link-active {
  background: var(--dark-blue);
}

menu, ol, ul {
  display: contents;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

main {
  background: var(--light-blue);
  border: 1px solid var(--grey);
  border-top: 0;
  border-bottom: 0;
  padding: var(--between-posts);
  max-width: 35em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0em 0em 50vw var(--grey);
}

textarea {
  width: 100%;
  font-size: inherit;
  padding: 1em;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 0;
  border: none;
  vertical-align: top;
}

textarea:focus {
  outline: none;
}

textarea + input[type="submit"] {
  width: 100%;
  border: 0;
  display: block;
}

main > *, main li {
  margin-bottom: var(--between-posts);
}

main li li {
  margin-bottom: 0;
  margin-top: 1em;
}

main form, main li {
  position: relative;
  background: white;
  border: 1px solid var(--grey);
}

main li {
  padding: 1em;
}

main li h1 {
  color: var(--blue);
}

main li h2 {
  color: var(--grey);
  font-weight: normal;
  font-size: 80%;
}

p {
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 130%;
  padding: 1em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background: var(--blue);
  color: white;
}

input[type="checkbox"]:checked + label:hover {
  background: var(--dark-blue);
}

label, button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: inherit;
  user-select: none;
  border: 1px solid var(--grey);
  background: none;
  color: var(--grey);
}

:is(label, button):not([disabled]):hover {
  cursor: pointer;
  background: var(--grey);
  color: white;
}

.modifiers {
  position: absolute;
  right: 0;
  top: 0;
  padding: inherit;
  font-size: inherit;
  text-align: right;
}

.modifiers > * {
  display: block;
  float: right;
  clear: right;
}

.modifiers li {
  display: contents;
}

.modifiers button {
  width: 100%;
  background: white;
}

.post-annotators {
  border-top: 1px solid grey;
  padding-top: inherit;
  display: flex;
  font-size: 120%;
  justify-content: space-between;
  color: var(--grey);
  align-items: center;
}

main > h1 {
  text-align: center;
  font-size: 150%;
}

main > h1 button {
  padding: 0;
  color: black;
  border: none;
  font-weight: bold;
}

input[type="text"] {
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  color: inherit;
  border: none;
  padding: 0;
  border: 0;
  outline-color: var(--blue);
  width: 80%;
}

p a {
  color: cornflowerblue
}

.directory {
  font-size: 120%;
}
